API_URL=your-mysagra-api-url
CLIENTI_API_KEY="insert-your-API-key-here-after-the-first-signin-to-admin-panel"
REQUIRE_TABLE=true

POLICY_COOKIE_URL=https://mysagra.com/it/cookie-policy
POLICY_PRIVACY_URL=https://mysagra.com/it/privacy-policy